<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content padding>
  <div class="formCont">
    <form (ngSubmit)="login()" [formGroup]="formLogin">
      <ion-row>
        <ion-col col-12>
          <div class="contImg">
            <img src="../../assets/imgs/imgUPB.jpeg" alt="">
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-list inset>
            <ion-item class="inputField">
              <ion-input type="email" placeholder="Correo Electrónico" formControlName="email" required></ion-input>
            </ion-item>
            <ion-item class="inputField">
              <ion-input type="password" placeholder="Contraseña" formControlName="password" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-item>
                <button ion-button class="btnSubmit" full type="submit" [disabled]="!formLogin.valid">Login</button>
              </ion-item>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
      </ion-row>
    </form>
  </div>
</ion-content>