page-login {
    .scroll-content{
        overflow-y: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .contImg{
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
        img{
            height: 200px;
        }
    }
    .formCont{
        width: 50%;
        .btnSubmit{
            padding: 3%;
        }
        
        @include medium {
            width: 100%;
        }
    }
}
