<ion-content class="pageContent" padding>
  <div class="flex-content">
    <div class="flex-top">
      <h2>{{profile.nombre}}</h2>
      <h5>Horas: {{profile.horas}}</h5>
    </div>
    <img src="../../assets/imgs/profile.jpg">
  </div>
</ion-content>