page-profile {
    max-width: 100%;
    .flex-content{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        img{
            height: 50vh;
        }
    }
}
