<ion-content class="pageContent" padding>
  <ion-list>
    <ion-item *ngFor="let noticia of lstNoticias">
      <ion-thumbnail item-start>
        <img src="../../assets/imgs/logo.jpg">
      </ion-thumbnail>
      <h2>{{noticia.title}}</h2>
      <p>{{noticia.body}}</p>
      <button ion-button clear item-end (click)="mostrarDetalle(noticia)">Detalles</button>
    </ion-item>
  </ion-list>
</ion-content>