custom-header {
    ion-header{
        position: relative;
    }
    color: black;
    .toolbar-content{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        user-menu{
            margin-right: 2%;
        }
    }
    .flex{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }
    .headerMenu{
        align-items: center;
        display: flex;
        justify-content: flex-end;
        width: 15%;
        @include medium {
            label{
                display: none;
            }
        }
        label:hover{
            cursor: pointer;
        }
        &:hover{
            cursor: pointer;
        }
        ion-icon{
            margin-right: 1%;
            font-size: 3em;
        }
    }
    .hover{
        cursor: pointer;
    }
}
