<ion-header>

  <ion-navbar>
    <div class="flex">
      <button ion-button menuToggle>
        <ion-icon name="menu" menuToggle></ion-icon>
      </button>
      <ion-title>{{title}}</ion-title>
    </div>
    <div class="headerMenu" (click)="showConfirm()">
      <label>{{currentUser == null ? 'Invitado' : currentUser.name}}</label>
      <ion-icon name="person" role="img" class="icon icon-ios ion-ios-person" aria-label="person"></ion-icon>
    </div>
  </ion-navbar>
</ion-header>