<ion-content class="pageContent" padding>
    <h2>{{noticia.title}}</h2>
    <h5>{{noticia.body}}</h5>
    <div class="text-center">
        <img src="../../assets/imgs/logo.jpg">
    </div>
</ion-content>